.mk-thumbnail-slider
  overflow hidden
  margin 0 0 1em
  ul
    > span.mk-thumb-nav
      color #333
      padding 5px
      cursor pointer
      position absolute
      background rgba(255,255,255, 0.85)
      &[data-action=prev]
        left 0
      &[data-action=next]
        right 0
      &:hover
        background rgba(0,0,0, 0.25)
        color #FFF

.woocommerce
  .products
  .mk-thumbnail-slider
    ul
      display flex
      overflow hidden
      margin 0
      align-items center
      > li
        min-width 100%
        transition 0.2s all
        margin-left 0
        img
          width 100%
          margin 0
