.mk-thumbnail-slider {
  overflow: hidden;
  margin: 0 0 1em;
}
.mk-thumbnail-slider ul > span.mk-thumb-nav {
  color: #333;
  padding: 5px;
  cursor: pointer;
  position: absolute;
  background: rgba(255,255,255,0.85);
}
.mk-thumbnail-slider ul > span.mk-thumb-nav[data-action=prev] {
  left: 0;
}
.mk-thumbnail-slider ul > span.mk-thumb-nav[data-action=next] {
  right: 0;
}
.mk-thumbnail-slider ul > span.mk-thumb-nav:hover {
  background: rgba(0,0,0,0.25);
  color: #fff;
}
.woocommerce .products ul,
.woocommerce .mk-thumbnail-slider ul {
  display: flex;
  overflow: hidden;
  margin: 0;
  align-items: center;
}
.woocommerce .products ul > li,
.woocommerce .mk-thumbnail-slider ul > li {
  min-width: 100%;
  transition: 0.2s all;
  margin-left: 0;
}
.woocommerce .products ul > li img,
.woocommerce .mk-thumbnail-slider ul > li img {
  width: 100%;
  margin: 0;
}
